<div class="container col-md-6 mt-4">
    <div class="card">
        <div class="card-header">
            <h3>Agregar nuevo producto</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Codigo</label>
                    <input [(ngModel)]= "product.code" name="code" type="text" class="form-control"> 
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <input [(ngModel)]= "product.description" name="description" type="text" class="form-control"> 
                </div>
                <div class="form-group">
                    <label>Marca</label>
                    <input [(ngModel)]= "product.brand" name="brand" type="text" class="form-control"> 
                </div>
                <div class="form-group">
                    <label>Presentación</label>
                    <input [(ngModel)]= "product.presentation" name="presentation" type="text" class="form-control"> 
                </div>
                <div class="form-group">
                    <label>Precio</label>
                    <input [(ngModel)]= "product.price" name="price" type="text" class="form-control"> 
                </div>
                <div class="form-group">
                    <label>Pasillo</label>
                    <input [(ngModel)]= "product.location" name="location" type="text" class="form-control"> 
                </div>
                <button (click)="saveProduct(product)" class="btn btn-success mt-2">Agregar</button>
            </form>
        </div>
    </div>
</div>
